html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #fcfcfc;
  color: #575757;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
}

.sub-heading {
  font-weight: 600;
}

h1 {
  font-size: 56px;
  margin-bottom: 0;
}

h2 {
  font-weight: 400;
  letter-spacing: 0.5rem;
}

h3 {
  text-align: center;
  margin: 24px 0 34px 0;
  text-transform: uppercase;
  font-size: 32px;
  color: #999;
}

a {
  color: #111;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

a:hover {
  border-bottom: 1px solid #999;
}

.page {
  max-width: 1000px;
  margin: 10px auto;
  padding: 40px;
}

.page-title-container {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
}

.page-divider {
  border-bottom: 1px solid #ddd;
}

.image-container {
  width: 100%;
/*   height: 100%; */

/*   > div {
    position: unset !important;
  }

  .image {
    width: 100%;
    position: relative !important;
    min-height: 280px;
    object-fit: cover;
  } */
}

.hero {
  max-width: 1000px;
  margin: 64px 0;
}

.paragraph-image {
  max-width: 600px;
  margin: 42px 0 0 0;
}

.section-container {
   width: 100%; 
/*   display: flex; */
/*   align-items: center; */
/*   flex-direction: column; */
}

.service {
  margin: 34px 0 34px 0;
}

.service-description {
  margin-top: 32px;
}

.additional-images-container {
  max-width: 100%;
  margin: 64px auto;
  display: grid;
  gap: 1rem;
}

.email-link {
  font-size: 20px;
  font-weight: 600;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 48px 0 0 0;
}

.footer-item {
  margin: 0 20px;
}

.contact-line {
  margin: 12px 0;
}

.privacy-notice-imprint h1 {
  font-size: 42px;
  margin: 32px auto 24px;
  word-wrap: break-word;
  white-space: normal;
}

.privacy-notice-imprint h2 {
  font-size: 24px;
  letter-spacing: normal;
  font-weight: bold;
  margin: 32px auto 24px;
}

.privacy-notice-imprint h3 {
  font-size: 18px;
  text-align: start;
  text-transform: none;
  margin: 6px auto 16px;
}

.privacy-notice-imprint a {
  text-transform: none;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
  }

  .section {
    align-items: start;
  }

/*   .section-container {
    align-items: start;
  } */

  .additional-images-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 950px) {
  .page {
    margin: 0px auto;
    padding: 20px;
  }

  .footer-item {
    margin: 12px 20px;
  }

  .page-title-container {
    margin-bottom: 35px;
  }
}

/* Max-width did not work for grid-template-columns */

@media only screen and (min-width: 481px) {
  .additional-images-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 951px) {
  .additional-images-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
